body {
  margin: 0;
}

.nav-button.MuiButtonBase-root.MuiButton-root:hover {
  background-color: white;
  color: #FF5C00;
}

.item.MuiPaper-root:hover {
  background-color: rgb(202, 200, 200);
}

.bottom-header {
  padding: 1em 0;
  display: flex;
  justify-content: space-evenly;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.04);
}

.bottom-header span {
  padding: 17px 5px;
  cursor: pointer;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.05em;
  font-family: 'Roboto';
}


.box1-header.MuiTypography-root {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  margin: 1.5em 0 0 0;
}


.box2-header.MuiTypography-root {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: white;
}

.box2-body.MuiTypography-root {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.box2-link.MuiTypography-root {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: white;
  letter-spacing: 0.2em;
  cursor: pointer;
}

.flair {
  position: relative;
  bottom: 0.4em;
}


/* .box1-header, .box1-body {
  padding: 0 0 0 1em;
} */

.box3-header.MuiTypography-root {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #242120;
}

.box3-body.MuiTypography-root {
  color: #242120;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.box3-link.MuiTypography-root {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #FF5C00;
  letter-spacing: 0.2em;
  cursor: pointer;
}